[user]
	name = Marcel Sachs
	email = sachsmarcel@proton.me
[core]
	editor = vim
[init]
	defaultBranch = master
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
