* {
    font-family: "IBM Plex Mono";
    font-size: 10pt;
    color: #ffffff;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: #000000;
}

#workspaces button {
    padding: 0 6px;
    background: #222222;
    color: #888888;
}

#workspaces button.active {
    background: #285577;
    color: #ffffff;
}

#network.disconnected {
    color: #ff0000;
}

#pulseaudio.muted {
    color: #ffff00;
}

#battery.warning {
    color: #ffff00;
}

#battery.critical {
    color: #ff0000;
}
